body { background-color: black;
    margin:auto;
    width:50%;
    margin-top: 55px;

    
}

header {
    text-align: center;
}
a{color:white;
font-size: 15px;
margin-left: 55px;
}
b{color:white;
font-size:70px;
}
h4{color:white;
}
.par{
    align-content: center;
    display: table-cell;
    font-size:30px;
    width: 600px;
    height: 200px;
    background:gold;
    text-align: center;
    vertical-align: middle;
}
